.header-bg{
    position: absolute;
background: url(../img/bg.jpg);
    height: 695.5px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    left: 0px;       
}
.blurred{
 -webkit-filter: brightness(30%);
-moz-filter: brightness(30%);
-o-filter: brightness(30%);
-ms-filter: brightness(30%);
}
.logo{
position: absolute;
}
.menu-items{
 color: white;
    position: absolute;
    top: 10px;
    left: 300px;
    
}
.two{
color: white;
}
.slogan{
    position: absolute;
    top: 200px;
    font-size: 60px;
    color: #FC3437;
    text-transform: uppercase;
    font-family:LMS Ethan's Game;
    
}
.total_white_dashed { 
	color:#FFF; 
	opacity: 0.9; 
	cursor: pointer;
}
.total_white_dashed:hover { 
	color:#FFF; 
	opacity: 1;
}

.state-hover {
	position: absolute;
	z-index: -1;
	display: block;				
	visibility: hidden;		
	top:-18px;
	left:-13px;
	width: auto;
	min-width:150px;
	height: auto;
	padding:10px;
	background-color:#ccd8da;
	border-radius:7px;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 4px;
	-webkit-transition:0s 1s;
	   -moz-transition:0s 1s;
	     -o-transition:0s 1s;
	        transition:0s 1s;  /* duration 0s, delay 1s */
}

.state-hover h4 {margin:7px 10px;}

.state > .total_white_dashed:active + .state-hover { 
	visibility: visible;
	z-index:1;
	-webkit-transition:0s;
	   -moz-transition:0s;
	     -o-transition:0s;
					transition:0s;
}
.state-hover:hover { 
	visibility: visible;
	z-index:1;
	-webkit-transition:0s;
	   -moz-transition:0s;
	     -o-transition:0s;
					transition:0s;
}

.state i { background-color:#3c7bae;}
.state em { padding:3px 8px; 6px 8px; background-color:#3c7bae; border-radius:7px;}

.dealer { position:relative; display:block; padding:10px 20px 12px 20px; margin:12px 0 0 0; background-color:#f2f5f7; border-radius:7px;}
.dealer p { padding-top:5px; font-size:100%; line-height: 140%;}
