.header-bg{
width: 100%;
height: 693px;
background: url(../img/bg.jpg);
background-size: cover;
background-repeat: no-repeat;
}
.logo{
position: relative;
top: 30px;
}

.big-img{
position: relative;
    top: 100px;
    left: 300px;

}
	
		.sidecontentpullout {
			background-color: transparent;
			color: White;
			padding: 14px 13px;
			
		}
		
		.sidecontentpullout:hover {
			background-color:transparent;
			color: White;
		}
		
		.sidecontent {
			background-color:transparent;
			color: White;
			-moz-border-radius-bottomleft: 1em;
			-webkit-border-bottom-left-radius: 1em;
			border-bottom-left-radius: 1em;
		}
		
		.sidecontent > div > div {
			padding-left: 10px;
			padding-right: 40px;
		}
	
.custom-contain{
height: 350px;
border: 2px solid green;
    margin-top: 50px;

}
.header-custom{
    height: 50px;
    border-bottom: 2px solid green;
    width: 100%;
   
    padding-top: 10px;
    text-align: center;
    text-transform: uppercase;
    
    
}
.set-image{
 max-height:100%;
    height:auto;
    width:100%;
    max-width:100%;
    margin:auto
}
.contents{
    width: 100%;
    height: 200px;
    border-bottom: 2px solid green;
    
    
}
.summary{
  width: 100%;
    height: 50px; 
    margin-top: 10px;
}
.left-sum{
float: left;
}
.right-sum{
float: right;
}

.phone-text{
    color: green;
    border: green 2px solid;
    width: 50%;
    background-color: transparent;
}
.footer{
    font-size:xx-small;
    
}
.app{
    height: 500px;  
}
.text-app{ 
    height: 500px;
    text-align: justify;
  font-family: crushed;
    font-size: 25px;
      
}
.text-app-image{
height: 500px;
    margin-top: 20px;
  
   
}